@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('normalize.css');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --light-green: hsl(154, 59%, 70%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    background: url('images/bg-intro-mobile.png') repeat center var(--red);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, p {
    margin-top: 0;
}

.container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 5.75rem 1.5rem 4.25rem;
}

.row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.col {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page-body {
    text-align: center;
}

.page-title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.375rem;
}

.page-text {
    margin-bottom: 4rem;
}

.page-notice {
    font-size: 0.9375rem;
    padding: 1.125rem 15% 1rem;
    background: var(--blue);
    margin-bottom: 1.5rem;
    border-radius: 0.625rem;
    text-align: center;
}

.page-notice p {
    line-height: 1.8;
    margin-bottom: 0;
}

.form {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1.125rem 1.125rem 0.9375rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--dark-blue);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s;
}

.form-control:focus {
    border-color: var(--dark-blue);
    outline: 0;
}

.btn {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.6;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
    background-color: var(--green);
    box-shadow: inset 0 -0.25rem 0 hsl(0 0% 0% / 0.1);
    margin-bottom: 0.625rem;
    padding: 1.0625rem 1rem 0.9375rem 1rem;
    border-radius: 0.375rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    transition: color 0.15s, background-color 0.15s;
}

.btn:hover,
.btn:focus {
    background-color: var(--light-green);
}

.form-note {
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1.8;
    color: var(--grayish-blue);
    margin-bottom: 0;
    padding: 0 5%;
    text-align: center;
}

.form-note a {
    font-weight: 700;
    color: var(--red);
    text-decoration: none;
}

.form-note a:hover,
.form-note a:focus {
    text-decoration: underline;
}

.just-validate-error-field,
.just-validate-error-field:focus {
    border-color: indianred;
    box-shadow: inset 0 0 0 1px indianred;
}

.just-validate-error-field {
    color: indianred;
    background: url('images/icon-error.svg') no-repeat right 1.5rem top 1rem;
}

.just-validate-error-label {
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    text-align: right;
    color: indianred !important;
    margin-top: 0.375rem;
}

.footer {
    display: none;
}

.shadow {
    box-shadow: 0 0.5rem 0 hsl(0 0% 0% / 0.15);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
    body {
        background-image: url('images/bg-intro-desktop.png');
    }

    .container {
        max-width: 1158px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .row {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    .col {
        flex: 1;
    }

    .col-form {
        flex: 1 0 588px;
        max-width: 588px;
    }

    .page-title {
        font-size: 3.0625rem;
        line-height: 1.12;
        margin-bottom: 1.75rem;
    }

    .page-body {
        text-align: left;
        margin-top: 2px;
    }

    .page-text {
        margin-bottom: 0;
    }

    .form {
        padding: 2.5rem;
    }

    .form-group {
        margin-bottom: 1.25rem;
    }

    .form-control {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btn {
        margin-bottom: 0.875rem;
    }
}
